# Database
POSTGRES_DB=lightcord
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

# Django
SECRET_KEY=...
DEBUG=true

# Redis
REDIS_PORT=6379

# Frontend
VITE_API_URL=http://localhost/api
VITE_WS_URL=ws://localhost/ws

# Ports
BACKEND_PORT=8000
FRONTEND_PORT=5173
NGINX_PORT=80